---
layout: default
title: "Rodrigo Farinha"
---
<div class="text-left pt-2 pb-4">
  <!-- <h1 class="display-4 font-weight-bold">Rodrigo Farinha</h1> -->
  <p class="lead">PhD in Marketing (quantitative) working across business and research</p>
  <p class="mb-4">I study how firms innovate, compete, and make decisions in complex markets. Alongside academic work, I collaborate with companies to apply data and strategy tools to real-world problems.</p>
</div>

  <div class="d-flex justify-content-left flex-wrap gap-3">
    <a href="{{ site.baseurl }}/research/" class="btn btn-outline-dark m-2">Research</a>
    <a href="{{ site.baseurl }}/practice/" class="btn btn-outline-dark m-2">Practice</a>
    <a href="{{ site.baseurl }}/teaching/" class="btn btn-outline-dark m-2">Teaching</a>
    <a href="{{ site.baseurl }}/projects/" class="btn btn-outline-dark m-2">Projects</a>
    <a href="{{ site.baseurl }}/blog/" class="btn btn-outline-dark m-2">Blog</a>
    <a href="{{ site.baseurl }}/assets/pdf/Farinha_Vita_v20250120.pdf" class="btn btn-outline-dark m-2" target="_blank">Vita</a>
    <a href="https://www.linkedin.com/in/rodrigolourencofarinha" class="btn btn-outline-dark m-2" target="_blank">Linkedin</a>
    <a href="https://github.com/rodrigolourencofarinha" class="btn btn-outline-dark m-2" target="_blank">GitHub</a>
    <a href="https://scholar.google.com/citations?user=uG2NW7sAAAAJ&hl=en" class="btn btn-outline-dark m-2" target="_blank">Google Scholar</a>
    <a href="https://orcid.org/0000-0002-3364-8642" class="btn btn-outline-dark m-2" target="_blank">ORCID</a>
    <!-- <a href="mailto::rodrigo.lf@hotmail.com" class="btn btn-outline-dark m-2" target="_blank">Contact</a> -->
  </div>
</div>

<hr>

<h2 class="text-center my-5">Recent Blog Posts</h2>
<div class="blog-grid-container">
  {% for post in site.posts limit:6 %}
    {% include postbox.html %}
  {% endfor %}
</div>
